<% include ../../../layouts/dashboard_layout_top %>

<% if( errorMessages ){ %>
   	<ul class="flash" >
   		<% errorMessages.forEach( function(error, index){ %> 
   			<li class="<%= error.type %>" >
   				<%= error.text %>
				<span> &cross; </span>
			</li>
   		<%  }); %>
	</ul>
<% } %>

<% if( statusCode === 200) { %>

	<% include ../../common/dockerImagePanel %>

<% } else{ %>
	
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
		<a href="/"> Create New Image </a>
	</div>	

<% } %>

<h3> <a href="/hosts/<%= imgInfo.runningOn.id %>/dockers/<%= imgInfo.id %>/containers/new?repository=<%= imgInfo.repository %>&created=<%= imgInfo.created %>"> Create new container </a> </h3>
			
<% if( statusCode == 404 ) { %>
	<h3> Containers not found  </h3>
<% } else if( containerList.length === 0 ) { %>
	<div class="somethingWentWrong">
		<span > No Container found </span>
	</div>		
<% }else{ %>
	<% if( containerList.length > 0  && typeof containerList === "object"){ %>
		<table border='1' cellspacing='0'>
			<thead>
				<tr>
					<th></th>
					<th> ID </th>
					<th> Image </th>
					<th> Command </th>
					<th> Created </th>
					<th> Status </th>
					<th> Ports </th>
					<th> SizeRW </th>
					<th> SizeRootFs </th>	
					<th> Names </th>						
				</tr>
			</thead>
			<tbody>
		<% containerList.forEach( function(item, index){ %>
			<tr>
			<td>  <%= index + 1 %> </td>
			<% for(var k in item){ %>
				<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;word-wrap: break-word;">
						<%= JSON.stringify(item[k]) %>
					</div>			
				
				</td>
			<% } %>
				<td>
					<Div class="operation_menu"> 	
						<% if( item.Ports && item.Ports !== 'null'){ %>
								<span > <a href="http://<%= imgInfo.runningOn.hostname %>:<%= (item.Ports[0]).PublicPort %>/static/term.html" target="_blank" > Launch </a> </span>
						<% }%>

						<span class="inspect"> <a href="/hosts/<%= imgInfo.runningOn.id %>/containers/<%=item.Id %>/inspect" title="Inspect">  &equiv;	 </a> </span>					
						<span class="status" >  <a href="/hosts/<%= imgInfo.runningOn.id %>/containers/<%=item.Id %>/toggle?redirectURL=<%= fullURL%>" title="toggle"> &Phi;	 </a>  </span>
						<span class="kill"> <a href="/hosts/<%= imgInfo.runningOn.id %>/containers/<%=item.Id %>/kill?redirectURL=<%= fullURL%>" title="kill"> &dagger;	 </a> </span>
						<span class="delete"> <a href="/hosts/<%= imgInfo.runningOn.id %>/containers/<%=item.Id %>/delete?redirectURL=<%= fullURL%>" title="remove"> &cross;  </a></span>
					</Div>

				</td>
			<tr/>
		<% }) %>
			</tbody>
		</table>

	<% }else { %>
		<%= JSON.stringify(containerList) %>
	<% } %>
<% } %>




<% include ../../../layouts/dashboard_layout_bottom %>

