
<% include ../../layouts/dashboard_layout_top %>

<h1> Edit Host </h1>
<div class="uploaderWrapper">

	<form method="post" action="/hosts/<%=host.id%>/update" >
		<input type="hidden" name="id"  id="id" value="<%= host.id %>" />


		<label> Name </label>
		<input type="text" name="name"  id="name"  placeholder="Name"  value="<%= host.name %>" />
		<br/> <br/>

		<label> Hostname </label>
		<input type="text" name="hostname"  id="hostname" placeholder="hostname/IP eg. 127.0.0.1"  value="<%= host.hostname %>"/>
		<br/> 


		<label> Docker Port </label> <input type="text" name="dockerPort"  id="dockerPort" placeholder="port eg.4273" size="10"  value="<%= host.dockerPort %>"/><br/>
		<label> Daemon Port </label> <input type="text" name="managerPort"  id="managerPort" placeholder="eg.3005" size="10" value="<%= host.managerPort %>" />


		<input type="submit" value="Update Host" class="btn lrg" />
	</form>

</div>


<% include ../../layouts/dashboard_layout_bottom %>
