<% include ../../layouts/dashboard_layout_top %>



<h3> Hosts list </h3>
<a href="/hosts/new"> Add new host </a>

<% if( typeof hostList === "object" && hostList.length > 0  ){ %>
	<table border='1' cellspacing='0' id="hostList">
		<thead>
			<tr>
				<th></th>
				<th> HOST ID </th>
				<th> NAME </th>
				<th> HOSTNAME </th>
				<th> DOCKER PORT </th>
				<th> MANAGER PORT </th>
				<th> Status </th>
			</tr>
		</thead>
		<tbody>
			<% hostList.forEach( function(item, index){ %>

				<% if( typeof item.id !== "undefined"){ %> 
						<tr>
							<td>  <%= index + 1 %> </td>

							<td> <div style="width:150px; overflow:hidden; text-overflow:ellipsis;" title=" <%= item.id %>" > <%= item.id %> </div> </td>
							<td> <% if( !item.name) { %> --  <% }else { %><%= item.name %><% } %> </td>

							<td> <% if( !item.hostname) { %> --  <% }else { %><%= item.hostname %><% } %> </td>
							<td> <% if( !item.dockerPort) { %> --  <% }else { %> <%= item.dockerPort %>  <% } %>  </td>
							<td> <% if( !item.managerPort) { %> --  <% }else { %> <%= item.managerPort %>  <% } %>  </td>
							<td style="text-align:center;"> <% if( !item.status) { %>Checking...<% }else {  %>  <%= item.status %>  <% } %> </td>

							<td>

								<Div class="operation_menu" style="width:70px;"> 	
								
									<span class="inspect"> 
										<a href="/hosts/<%=item.id %>/edit" title="edit"> &hellip;  </a>
									</span>
									<span class="delete"> 
										<a href="/hosts/<%=item.id %>/delete" title="remove"> &cross;  </a>
									</span>
								</Div>

							</td>
						<tr/>
				<% } %>
			<% }) %>
		</tbody>
	</table>

	<% } %>
	<% if( typeof hostList !== "undefined" && hostList.length === 0) { %>
		<div class="somethingWentWrong">
			<span > No host added yet </span>
			<a href="/hosts/new"> Add new host </a>
		</div>	


	<%}%>





<% include ../../layouts/dashboard_layout_bottom %>
