<% include ../../layouts/dashboard_layout_top %>


<h3 class="dockerfileName"> Selected Container: 
	<span > <%= id %> ( <%= data.State.Running? "Running.." : "Stoppped" %>)</span> 
	<span class="status" style="background-color: rgb(172, 172, 172);"> 

		<a href="container/<%=id %>/<%= data.State.Running? "Stop" : "Run" %>" > <%= data.State.Running? "Stop" : "Run" %>  </a>

	</span>
	<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

</h3>


<div class="inspectDataWrapper">

<% if( statusCode === 404  ||  statusCode === null || statusCode === 500) { %>
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
	</div>

<% }else{ %>

	<% if( typeof data === "object" ){ %>
		<div class="key_val">

			<% for(var k in data){ %>
				<label> <%= k %> : </label>

				<% if(  k === "State" || k === "Config" || k === "NetworkSettings" ||  k === "Volumes" || k === "VolumesRW") { %>
					<br/>
					<% for(var l in data[k]){ %>
						<label class='sub'> <%=l %> : </label>




						<span class="sub"> <%= JSON.stringify( data[k][l]) %> </span> <br/>
					<% }%> 	
				
				<% }else{ %>
				<span> <%= data[k] %> </span>
				<% } %>
				<br/>
			<% } %>

		</div> <!--/key_val-->

	<% } %>
<% } %>


</div> <!--/inspectDataWrapper -->




<% include ../../layouts/dashboard_layout_bottom %>

