<% include ../../layouts/dashboard_layout_top %>

<h1> Dashboard </h1>

<h3 class="dockerfileName"> Selected Container: 
	<span > <%= id %> </span> 
	<span class="delete"> <a href="/docker/delete"> Delete &cross; </a> </span>

</h3>


<% if( statusCode === 404 ) { %>
	<h3> Container  not found  </h3>

<% }else{ %>
	<% if( data.length > 0 ){ %>
		<% data.forEach( function(item, index){ %>
			<% for(var k in item){ %>
				<%= k %> : <%= item[k] %>
				<br/>
			<% } %>
		<% }) %>
	<% }else { %>
		<%= JSON.stringify(data) %>
	<% } %>
<% } %>




<a href="/docker/<%= id %>/inspect"  > Inspect Image </a>


<% include ../../layouts/dashboard_layout_bottom %>

