<% include ../../layouts/dashboard_layout_top %>

<% if( messages && typeof messages.hostsReport !== "undefined" && messages.hostsReport ){ %>
           <ul class="flash" >
                   <% messages.hostsReport.forEach( function(item, index){ %> 
                           <li class="<%= item.type %>" >
                                   <%= item.text %>
                                <span> &cross; </span>
                        </li>
                   <%  }); %>
        </ul>
<% } %>

<% if( typeof errorMessages !== 'undefined' && errorMessages){ %>
   	<ul class="flash" >
   		<% errorMessages.forEach( function(error, index){ %> 
   			<li class="<%= error.type %>" >
   				<%= error.text %>
				<span> &cross; </span>
			</li>
   		<%  }); %>
	</ul>
<% } %>

<h1> Dashboard </h1>



	<% if(typeof criticalError === 'undefined' ){ %>
		<h3 >Container List  | <a href ="/containers/new" > Create New </a></h3>
		<span> Include all results? 
			<input type="checkbox" name="includeAllResults" id="includeAllResults" <%= areAll? "checked" :""%> />
			<span  class="<% if( areAll){%>highlight<%}%>" > Yes </span> |  <span class="<% if( !areAll){%>highlight<%}%>" > No </a> 
		</span>
	<% } %>



	<hr/>

	<% if( typeof hostList != "undefined" && hostList && hostList.length > 0 ){ %>
		<h3> Docker Host : 		
			<select id="hostList">
				<option value="-1" > Select Server </option>
				<% hostList.forEach(function(server, index){ %>
					<option value="<%= server.id %>"  <% if( statusCode === 200 && data.runningOn.id === server.id) {%> selected <%} %> 
					 class="<%= server.isAlive?"success":"error" %>" >
					 		 <%= server.name %> (<%= server.hostname %>) 
					 		 <span class="kill" > <%= server.isAlive?"Alive":"Dead" %> </span> 
					 </option>
				<% }) %>
			</select>
		</h3>
	<% }else {%>
		<h2> No server available yet.</h2>
	<% } %>	



<% if( typeof criticalError !== 'undefined' && criticalError) { %>
	<div class="somethingWentWrong">
		<span ><%= criticalError %> </span>
	</div>	

<% } else  if( typeof data === "object" && data.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No container Created Yet. </span>
		<a href="/containers/new"> Create New Container </a>
	</div>	
<% } %>

<% if( data.length > 0  && typeof data === "object"){ %>
	<table border='1' cellspacing='0'>
		<thead>
			<tr>
				<th></th>
				<th> ID </th>
				<th> Image </th>
				<th> Command </th>
				<th> Created </th>
				<th> Status </th>
				<th> Ports </th>
				<th> SizeRW </th>
				<th> SizeRootFs </th>	
				<th> Names </th>
			<!--	<th> Running On </th> -->
			</tr>
		</thead>
		<tbody>
	<% data.forEach( function(item, index){ %>
		<tr>
		<td>  <%= index + 1 %> </td>

		<td>
					<div style="width:110px; overflow:hidden; word-wrap: break-word;">
						<%= item.Id %>
					</div>
				
		</td>

		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item.Image %>
					</div>
				
		</td>
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item.Command %>
					</div>
				
		</td>	
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%=
							new Date(item.Created).toISOString().
							  replace(/T/, ' ').
							  replace(/\..+/, '')

						%>					
					</div>
				
		</td>	
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item.Status %>
					</div>
				
		</td>		
		<td>
					<div style="width:110px; overflow:hidden; word-wrap: break-word;">
						<%=  JSON.stringify(item.Ports )%>
					</div>
				
		</td>	
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item.SizeRw %>
					</div>
				
		</td>	
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item.SizeRootFs %>
					</div>
				
		</td>		
		<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<% if( item.Names) {%><%= item.Names %> <%} else { %> -- <% } %>
					</div>
				
		</td>	
		<!--
		<td>
					<div style="width:110px; overflow:hidden;word-wrap: break-word;">
						<%= item.runningOn.name %>
					</div>
				
		</td>										
		-->
		<% /* %>
		<% for(var k in item){ %>
			<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item[k] %>
					</div>
				
			</td>
		<% } %>
		<% */ %>
			<td>

				<td>
					<Div class="operation_menu"> 	
						<% if( item.Ports && item.Ports !== 'null'){ %>
							
							<!--
							<span > <a href="http://service-<%= (item['Id']).substr(0,12)%>.runnable.pw/static/term.html" target="_blank" > RUN </a> </span>

							
								<span > <a href="http://<%= item.runningOn.hostname %>:<%= (item.Ports[0]).PublicPort %>/static/term.html" target="_blank" > RUN </a> </span>
							-->
						<% }%>
						<form action="/hosts/<%= data.runningOn.id %>/containers/<%= (item['Id']) %>/serviceLaunch" method="POST"  target="_blank" >
							<input type='hidden' name="redirectURL" id="redirectURL" value="<%= encodeURIComponent(redirectTo ) %>" />
								<button title="launch terminal"> tty&#187; </button>
						</form>		
						<form action="/hosts/<%= data.runningOn.id %>/containers/<%= (item['Id']) %>/webLaunch" method="POST"  target="_blank" >
							<input type='hidden' name="redirectURL" id="redirectURL" value="<%= encodeURIComponent(redirectTo ) %>" />
								<button title="launch web"> web&#187; </button>
						</form>	
						<span class="inspect"> <a href="/hosts/<%= data.runningOn.id %>/containers/<%=item.Id %>/inspect" title="Inspect">  &equiv;	 </a> </span>					

						<span class="status" >  <a href="/hosts/<%= data.runningOn.id %>/containers/<%=item.Id %>/toggle?redirectURL=<%= encodeURIComponent(redirectTo ) %>" title="toggle"> &Phi;	 </a>  </span>
						<span class="kill"> <a href="/hosts/<%= data.runningOn.id %>/containers/<%=item.Id %>/kill?redirectURL=<%= encodeURIComponent(redirectTo ) %>"  title="kill"> &dagger;	 </a> </span>
						<span class="delete"> <a href="/hosts/<%= data.runningOn.id %>/containers/<%=item.Id %>/delete?redirectURL=<%= encodeURIComponent(redirectTo ) %>" title="remove"> &cross;  </a></span>
					</Div>

			</td>
		<tr/>
	<% }) %>
		</tbody>
	</table>

<% } %>








<% include ../../layouts/dashboard_layout_bottom %>

