<% include ../../layouts/dashboard_layout_top %>


<% if( messages && typeof messages.hostsReport !== "undefined" && messages.hostsReport ){ %>
   	<ul class="flash" >
   		<% messages.hostsReport.forEach( function(item, index){ %> 
   			<li class="<%= item.type %>" >
   				<%= item.text %>
				<span> &cross; </span>
			</li>
   		<%  }); %>
	</ul>
<% } %>





<h1> Dashboard </h1>


	<h3 >Container List  | <a href ="/containers/new" > Create New </a></h3>
	<span> Include all results? <a href="/containers/list?all=1"  class="<% if( areAll){%>highlight<%}%>" > Yes </a> |  <a href="/containers/list?all=0" class="<% if( !areAll){%>highlight<%}%>" > No </a> </span>
	<hr/>



<% if( typeof data === "object" && data.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No container Created Yet. </span>
		<a href="/containers/new"> Create New Container </a>
	</div>	
<% } %>

<% if( data.length > 0  && typeof data === "object"){ %>
	<table border='1' cellspacing='0'>
		<thead>
			<tr>
				<th></th>
				<th> ID </th>
				<th> Image </th>
				<th> Command </th>
				<th> Created </th>
				<th> Status </th>
				<th> Ports </th>
				<th> SizeRW </th>
				<th> SizeRootFs </th>	
				<th> Names </th>
				<th> Running On </th>
			</tr>
		</thead>
		<tbody>
	<% data.forEach( function(item, index){ %>
		<tr>
		<td>  <%= index + 1 %> </td>
		<% for(var k in item){ %>
			<td>
					<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
						<%= item[k] %>
					</div>

					
				
			</td>
		<% } %>
			<td>

				<Div class="operation_menu" style="width:140px;"> 	
					<span class="inspect"> <a href="/containers/<%=item.Id %>/inspect" title="Inspect">  &equiv;	 </a> </span>					
					<span class="status" >  <a href="/containers/<%=item.Id %>/toggle" title="toggle"> &Phi;	 </a>  </span>
					<span class="kill"> <a href="/containers/<%=item.Id %>/kill"  title="kill"> &dagger;	 </a> </span>
					<span class="delete"> <a href="/containers/<%=item.Id %>/delete" title="remove"> &cross;  </a></span>
				</Div>

			</td>
		<tr/>
	<% }) %>
		</tbody>
	</table>

<% } %>








<% include ../../layouts/dashboard_layout_bottom %>

