<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


	<span >All Containers </span> 
	<hr/>




<% if( statusCode === 404 ) { %>
	<h3> Container list not found  </h3>

<% }else{ %>
	<% if( data.length > 0  && typeof data === "object"){ %>
		<table border='1' cellspacing='0'>
			<thead>
				<tr>
					<th></th>
					<th> ID </th>
					<th> Image </th>
					<th> Command </th>
					<th> Created </th>
					<th> Status </th>
					<th> Ports </th>
					<th> SizeRW </th>
					<th> SizeRootFs </th>	
					<th> Names </th>						
				</tr>
			</thead>
			<tbody>
		<% data.forEach( function(item, index){ %>
			<tr>
			<td>  <%= index + 1 %> </td>
			<% for(var k in item){ %>
				<td>
						<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
							<%= item[k] %>
						</div>

						
					
				</td>
			<% } %>
				<td>
					<span class="inspect"> <a href="/containers/<%=data[index].Id %>/inspect"> Inspect </a> </span>
					<br/>
					<span class="inspect"> <a href="/containers/<%=data[index].Id %>/kill"> Kill  </a> </span>
					<br/>
					<span class="inspect"> <a href="/containers/<%=data[index].Id %>/delete"> Remove &cross;  </a> </span>
					<br/>
						<span class="inspect">  <a href="/containers/<%=data[index].Id %>/toggle"> Toggle </a>  </span>
					<br/>
				</td>
			<tr/>
		<% }) %>
			</tbody>
		</table>

	<% }else { %>
		<%= JSON.stringify(data) %>
	<% } %>
<% } %>








<% include ../../layouts/dashboard_layout_bottom %>

