<% include ../../layouts/dashboard_layout_top %>

<% if( statusCode === 200) { %>

	<% include ../common/dockerImagePanel %>

<% } else{ %>
	
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
		<a href="/"> Create New Image </a>
	</div>	

<% } %>
			
<% if( statusCode == 404 ) { %>
	<h3> Containers not found  </h3>
<% } else if( containerList.length === 0 ) { %>
		
	<div class="somethingWentWrong">
		<span > No Container found </span>
	</div>		

<% }else{ %>
	<% if( containerList.length > 0  && typeof containerList === "object"){ %>
		<table border='1' cellspacing='0'>
			<thead>
				<tr>
					<th></th>
					<th> ID </th>
					<th> Image </th>
					<th> Command </th>
					<th> Created </th>
					<th> Status </th>
					<th> Ports </th>
					<th> SizeRW </th>
					<th> SizeRootFs </th>	
					<th> Names </th>						
				</tr>
			</thead>
			<tbody>
		<% containerList.forEach( function(item, index){ %>
			<tr>
			<td>  <%= index + 1 %> </td>
			<% for(var k in item){ %>
				<td>
						<div style="width:110px; overflow:hidden; text-overlow:ellipsis;">
							<%= item[k] %>
						</div>

						
					
				</td>
			<% } %>
				<td>

					<Div class="operation_menu"> 	
						<span class="inspect"> <a href="/containers/<%=item.Id %>/inspect" title="Inspect">  &equiv;	 </a> </span>					
						<span class="status" >  <a href="/containers/<%=item.Id %>/toggle" title="toggle"> &Phi;	 </a>  </span>
						<span class="kill"> <a href="/containers/<%=item.Id %>/kill"  title="kill"> &dagger;	 </a> </span>
						<span class="delete"> <a href="/containers/<%=item.Id %>/delete" title="remove"> &cross;  </a></span>
					</Div>

				</td>
			<tr/>
		<% }) %>
			</tbody>
		</table>

	<% }else { %>
		<%= JSON.stringify(containerList) %>
	<% } %>
<% } %>




<% include ../../layouts/dashboard_layout_bottom %>

