<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


	<span >All Images </span> 
	<hr/>




<% if( statusCode !== 200 ) { %>
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
	</div>	

<% } %>

<% if( typeof data === "object" && data.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No Image Created Yet. </span>
		<a href="/"> Create New Image </a>
	</div>	
<% } %>


<% if( typeof data === "object" && data.length > 0  ){ %>
	<table border='1' cellspacing='0'>
		<thead>
			<tr>
				<th></th>
				<th> ID </th>
				<th> Tag </th>
				<th> Repository </th>
				<th> Created </th>
				<th> Size </th>
				<th> virtual Size </th>
		</thead>
		<tbody>
	<% data.forEach( function(item, index){ %>
		<tr>
			<td>  <%= index + 1 %> </td>

			<td> <div style="width:150px; overflow:hidden; text-overflow:ellipsis;" title=" <%= item.Id %>" > <%= item.Id %> </div> </td>

			<td> <% if( !item.Tag) { %> --  <% }else { %> <%= item.Tag %>  <% } %> </td>
			<td> <% if( !item.Repository) { %> --  <% }else { %> <%= item.Repository %>  <% } %> </td>
			<td> <% if( !item.Created) { %> --  <% }else { %> <%= item.Created %>  <% } %>  </td>
			<td> <% if( !item.Size) { %> --  <% }else { %> <%= item.Size %>  <% } %> </td>
			<td><% if( !item.VirtualSize) { %> --  <% }else { %> <%= item.VirtualSize %>  <% } %> </td>


			<td>

				<Div class="operation_menu"> 	
					<span class="inspect"> <a href="/dockers/<%=data[index].Id %>/containers?repository=<%= item.Repository%>&created=<%=item.Created%>" title="Inspect">  &equiv;	 </a> </span>					
					<span class="delete"> <a href="/dockers/<%=data[index].Id %>/delete" title="remove"> &cross;  </a></span>
				</Div>

			</td>
		<tr/>
	<% }) %>
		</tbody>
	</table>

	<% }%>








<% include ../../layouts/dashboard_layout_bottom %>

