<% include ../../layouts/dashboard_layout_top %>




<h1> Dashboard </h1>


	<h3 >Image List </h3> 
	<span> Include all results? <a href="/dockers/list?all=1"  class="<% if( areAll){%>highlight<%}%>" > Yes </a> |  <a href="/dockers/list?all=0" class="<% if( !areAll){%>highlight<%}%>" > No </a> </span>

	<hr/>
	<h3> Server : 

	<% if( typeof hostList != "undefined" && hostList ){ %>
		<select id="hostList">
			<option value="0" > Select Server </option>
			<% hostList.forEach(function(server, index){ %>
				<option value="<%= server.id %>"  <% if( statusCode === 200 && data.runningOn.id === server.id) {%> selected <%} %> 
				 class="<%= server.isAlive?"success":"error" %>" >
				 		 <%= server.name %> (<%= server.hostname %>) 
				 		 <span class="kill" > <%= server.isAlive?"Alive":"Dead" %> </span> 
				 </option>
			<% }) %>
		</select>

	<% }%>

	 </h3>



<% if( statusCode !== 200 ) { %>
	<div class="somethingWentWrong">
		<span ><%= data %> </span>
	</div>	

<% } %>

<% if( typeof data === "object" && data.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No Image Created Yet. </span>
		<a href="/"> Create New Image </a>
	</div>	
<% } %>


<% if( typeof data === "object" && data.length > 0  ){ %>
	<table border='1' cellspacing='0'>
		<thead>
			<tr>
				<th></th>
				<th> ID </th>
				<th> Tag </th>
				<th> Repository </th>
				<th> RepoTags </th>
				<th> Created </th>
				<th> Size </th>
				<th> virtual Size </th>
			</tr>
		</thead>
		<tbody>
	<% data.forEach( function(item, index){ %>
		<tr>
			<td>  <%= index + 1 %> </td>

			<td> <div style="width:150px; overflow:hidden; text-overflow:ellipsis;" title=" <%= item.Id %>" > <%= item.Id %> </div> </td>

			<td> <% if( !item.Tag) { %>-- <% }else { %> <%= item.Tag %>  <% } %> </td>
			<td> <% if( !item.Repository) { %> --  <% }else { %><%= item.Repository %><% } %> </td>
			<td> <% if( !item.RepoTags) { %> --  <% }else { %><%= item.RepoTags %><% } %> </td>
			<td> <% if( !item.Created) { %> --  <% }else { %> <%= item.Created %>  <% } %>  </td>
			<td> <% if( !item.Size) { %> --  <% }else { %> <%= item.Size %>  <% } %> </td>
			<td><% if( !item.VirtualSize) { %> --  <% }else { %> <%= item.VirtualSize %>  <% } %> </td>


			<td>

				<Div class="operation_menu" style="width:100px;"> 	
					<span class="inspect">
						<form action="/dockers/<% if( !item.Repository) { %><%= item.Id %><% }else{ %><%= encodeURIComponent(item.Repository) %><% } %>/containers" method="GET">
							<input type="hidden" name='host_id' value='<%= data.runningOn.id %>' /> 
							<input type="hidden" name="repository"	value="<% if( item.Repository){ %><%= encodeURIComponent(item.Repository) %><% } %>" />					
							<input type="hidden" name='created'  value="<%=item.Created %>" />
							<button  title="Inspect">   &equiv;  </button>		
						</form>
							 
					</span>					
					<span class="delete"> 
						<form action="/dockers/delete" method="POST">
							<input type="hidden" name='host_id' value='<%= data.runningOn.id %>' /> 

							<input type="hidden" name="repository"	value="<% if( item.Repository){ %><%= encodeURIComponent(item.Repository) %><% } %>" />					
							<input type="hidden" name='id' value="<% if(item.Id) {%><%= item.Id %><%}%>"/>

							<button  title="remove"> &cross;  </button>
							
						</form>
					</span>

					
				</Div>

			</td>
		<tr/>
	<% }) %>
		</tbody>
	</table>

	<% } %>








<% include ../../layouts/dashboard_layout_bottom %>

