<% include ../../layouts/dashboard_layout_top %>


<% if( messages && typeof messages.hostPullReport !== "undefined" && messages.hostPullReport ){ %>

   	<ul class="flash" >
   		<% messages.hostPullReport.forEach( function(item, index){ %> 
   				
   			<li class="<%= item.type %>" >
   				<%= item.text %>
				<span> &cross; </span>
			</li>

   		<%  }); %>
		
	</ul>

<% } %>

<h1> Dashboard </h1>


	<span >All User Created Images </span> 

<% if( typeof imageList === "object" && imageList.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No Image Built Yet. </span>
		<a href="/"> Submit New Dockerfile </a>
	</div>	
<% } %>

<% if( typeof imageList === "object" && imageList.length > 0 ){ %>
		<table border='1' cellspacing='0'>
			<thead>
				<tr>
					<th> </th> 
					<th> ID </th>
					<th>IMAGE ID </th> 
					<th> BUILD TAG </th> 
					<th> BUILD SERVER </th> 
					<th> IS REPLICATED?</th> 
					<th> IS PUSHED </th>
					<th> CREATED AT</th> 



				</tr>
				<tbody>

				<% imageList.forEach( function(image, index){ %>
						<tr>	
							<td> <%= index + 1 %> </td>
							<td> <%= image.id %> </td>
							<td> <%= image.image_id %> </td>
							<td> 
								<span class="success" ><%= image.build_tag %> &nbsp;</span>
								<span class="alert" > <%= decodeURIComponent(image.repository) %> </span>

							</td>
							<td> 
								<% var server =  JSON.parse(image.build_server); %>
								<span class="success" ><%= server.name %> &nbsp;</span><span class="alert" > <%= server.hostname+":"+ server.dockerPort %> </span>

							</td>
							<td> <%= image.isReplicated %> </td>
							<td> <%= image.isPushedOnRegistry %> </td>
							<td>
								 <% var time =   new Date( parseInt( image.createdAt) ); %>
								 <%=  time.toLocaleDateString()	 %> , <%=  time.toLocaleTimeString()	 %> 
							</td>
							<td>
								<Div class="operation_menu" style="width:200px;"> 	
								<!--
									TODO
									<span class="inspect"> 
										<script >console.log(<%=   JSON.stringify(  image )%> ); </script>
										<form action="/dockers/<%= image.image_id %>/containers" method="GET">
											<input type="hidden" name="repository"	value="<% if( image.repository){ %><%= decodeURIComponent(image.repository) %><% } %>" />
											<input type="hidden" name="hostname" value="<%= server.hostname %>"/>
											<input type="hidden" name="port" value="<%= server.dockerPort %>" />
											<input type="hidden" name='created'  value="<%=image.createdAt %>" />
											<button  title="Inspect">   &equiv;  </button>		
										</form>

										<a href="/dockers/<%=image.image_id %>/containers?repository=<% if( image.repository) { %><%= image.repository %><% }%>&created=<%=image.createdAt%>" title="Inspect">  &equiv;	 
										</a>
									 </span>
									 -->
									<!--					
									<span class="delete"> <a href="/dockers/<% if( !image.repository) { %><%= image.image_id %><% }else { %><%= encodeURIComponent(image.repository) %><% } %>/delete" title="remove"> &cross;  </a></span>
									-->
									<span class="status"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/push" title="Push" class="pushImageBtn" image_id='<%= encodeURIComponent(image.id) %>'> PUSH  </a></span>

									<span class="delete"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/broadcastPull" title=" Dispatch pull request to all docker server.Note: Only if image is pushed on the registry." class="broadcastImageBtn" image_id='<%= encodeURIComponent(image.id) %>' > 
										Broadcast  </a></span>			
									<span class="kill"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/delete" title="NOTE: It won't delete the image but only take off this entry from the database."> 
										&cross;  </a></span>

									
								</Div>
							</td>
						</tr>
				<% }) %>
			</tbody>
		</table>
 <%  }%>

<%= include ../common/cmd_ux.ejs %>


<script src="/primus/primus.io.js"></script>

<script>
	var isDockerImageResourceReady = false;
	var server = Primus.connect('ws://localhost:3000/');
	server.on('open', function () {
	    server.send('Tango', 'hello world');
	    server.on('Charlie', function(d){
		    server.send('OK', true);
	    	console.log( "Handshake passed");
	    });

	});

	var DockerImage = server.resource('DockerImage');
	DockerImage.on('ready', function () {
	  isDockerImageResourceReady = true;
	  console.log("DockerImage Resource ready to ignite");
	});


	$(".pushImageBtn").bind("click", function(e){
		e.preventDefault();

		if( $('body').find('.flash').length > 0 ){
			$('body').find('.flash').remove();
		}		

		if( isDockerImageResourceReady ){
			DockerImage.pushImage( {dImage_id: $(this).attr('image_id') } , function (res) {
				var $flashMessageHTML =  $("<div class='flash' > 	<span> &cross; </span> </div>");
				$flashMessageHTML.addClass( res.type ).prepend(res.text);
				$('body').prepend($flashMessageHTML);

			     console.log(res);
			});
		}

	});

	$(".broadcastImageBtn").bind("click", function(e){
		e.preventDefault();

		if( $('body').find('.flash').length > 0 ){
			$('body').find('.flash').remove();
		}		

		if( isDockerImageResourceReady ){

			$("ul.flash").remove();

			DockerImage.broadcastImage( {dImage_id: $(this).attr('image_id') } , function (res) {
				var $flashMessageListHTML = $(' <ul class="flash" > </ul>');
				 res.report.hostPullReport.forEach( function(result, index){
				 		$flashMessageListHTML.append( '<li class="' + result.type + '" >'+ result.text +' <span> &cross; </span> ' + '</li>' );
						$('body').prepend($flashMessageListHTML);
				});


				console.log(res);
			});
		}

	});	


  /***  Console Output **********
  ||---------------------------------------------------
  ||
  */

	server.on('push start', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='alert'>" + msg + "</li>");

	});
	server.on('push progress', function (msg) {
	    if (!$(".cmd_wrapper ul").is(":visible")) $(".cmd_wrapper ul").show();
	    console.log(msg);

	    $(".cmd_wrapper").eq(0).find("ul").append("<li>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});
	server.on('push error', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='error'>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});
	server.on('push end', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='alert'>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});

	server.on('broadcast start', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='alert'>" + msg + "</li>");

	});
	server.on('broadcast progress', function (msg) {
	    if (!$(".cmd_wrapper ul").is(":visible")) $(".cmd_wrapper ul").show();
	    console.log(msg);

	    $(".cmd_wrapper").eq(0).find("ul").append("<li>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});
	server.on('broadcast error', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='error'>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});
	server.on('broadcast end', function (msg) {
	    $(".cmd_wrapper").eq(0).find("ul").append("<li class='alert'>" + msg + "</li>");
	    $(".cmd_wrapper ul").scrollTop($(".cmd_wrapper ul").eq(0).prop('scrollHeight'));

	});


	$(".cmd_wrapper .toggle_display").click(function () {
	    $ul = $(this).next();
	    console.log($ul);
	    if ($ul.is(':visible')) {
	        $ul.hide();
	        console.log($ul);
	    } else $ul.show();

	});


</script>


<% include ../../layouts/dashboard_layout_bottom %>
