<% include ../../layouts/dashboard_layout_top %>


<% if( messages && typeof messages.hostPullReport !== "undefined" && messages.hostPullReport ){ %>

   	<ul class="flash" >
   		<% messages.hostPullReport.forEach( function(item, index){ %> 
   				
   			<li class="<%= item.type %>" >
   				<%= item.text %>
				<span> &cross; </span>
			</li>

   		<%  }); %>
		
	</ul>

<% } %>

<h1> Dashboard </h1>


	<span >All User Created Images </span> 

<% if( typeof imageList === "object" && imageList.length == 0 ){ %>
	
	<div class="somethingWentWrong">
		<span > No Image Built Yet. </span>
		<a href="/"> Submit New Dockerfile </a>
	</div>	
<% } %>

<% if( typeof imageList === "object" && imageList.length > 0 ){ %>
		<table border='1' cellspacing='0'>
			<thead>
				<tr>
					<th> </th> 
					<th> ID </th>
					<th>IMAGE ID </th> 
					<th> BUILD TAG </th> 
					<th> BUILD SERVER </th> 
					<th> IS REPLICATED?</th> 
					<th> IS PUSHED </th>
					<th> CREATED AT</th> 



				</tr>
				<tbody>

				<% imageList.forEach( function(image, index){ %>
						<tr>	
							<td> <%= index + 1 %> </td>
							<td> <%= image.id %> </td>
							<td> <%= image.image_id %> </td>
							<td> 
								<span class="success" ><%= image.build_tag %> &nbsp;</span>
								<span class="alert" > <%= decodeURIComponent(image.repository) %> </span>

							</td>
							<td> 
								<% var server =  JSON.parse(image.build_server); %>
								<span class="success" ><%= server.name %> &nbsp;</span><span class="alert" > <%= server.hostname+":"+ server.dockerPort %> </span>

							</td>
							<td> <%= image.isReplicated %> </td>
							<td> <%= image.isPushedOnRegistry %> </td>
							<td>
								 <% var time =   new Date( parseInt( image.createdAt) ); %>
								 <%=  time.toLocaleDateString()	 %> , <%=  time.toLocaleTimeString()	 %> 
							</td>
							<td>
								<Div class="operation_menu" style="width:200px;"> 	
									<span class="inspect"> <a href="/dockers/<%=image.image_id %>/containers?repository=<% if( !image.repository) { %>--<% }else { %><%= image.repository %><% }%>&created=<%=image.createdAt%>" title="Inspect">  &equiv;	 </a> </span>
									<!--					
									<span class="delete"> <a href="/dockers/<% if( !image.repository) { %><%= image.image_id %><% }else { %><%= encodeURIComponent(image.repository) %><% } %>/delete" title="remove"> &cross;  </a></span>
									-->
									<span class="status"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/push" title="remove"> PUSH  </a></span>

									<span class="delete"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/broadcastPull" title=" Dispatch pull request to all docker server.Note: Only if image is pushed on the registry." disabled=disabled> 
										Broadcast  </a></span>			
									<span class="kill"> 
										<a href="/dockerfiles/<%= encodeURIComponent(image.id) %>/delete" title="NOTE: It won't delete the image but only take off this entry from the database."> 
										&cross;  </a></span>

									
								</Div>
							</td>
						</tr>
				<% }) %>
			</tbody>
		</table>
 <%  }%>



<% include ../../layouts/dashboard_layout_bottom %>
